@media (max-width: 775px) 
{
    .fromstyle {
        display: inline-block;
        justify-content: center;
    }
    .hero__search-info
    {
        margin-right: 0;
    }
    .subscribe
    {
        display: none;
    }

    .single-item
    {
        width: 30%;
        display: inline-block;
        margin-left: -15px;
        margin-bottom: 1.5rem;
    }

    .process-items .item .img-thumb {
        height: 100px;
         width: 100px;
    }

    .process-items .item .img-thumb img
    {
        max-width: 40px;
    }

    .process-items .item h5 {
        margin: 0;
        margin-top: -19px;
        font-size: 13px;
    }

    .home_services .col-lg-3 {
        width: 50%;
    }

    .bestoffer .col-lg-2 {
        width: 50%;
    }

    .blog__area .pb-60 {
        padding-bottom: 10px;
    }

    .chooseus__area
    {
        padding: 0px;
        background: #ffffff;
    }
    .chooseus__area-left-image
    {
        display: none;
    }

    .chooseus__area-right
    {
        padding: 30px 12px; 
    }

    .chooseus__area-right  .col-md-4
    { 
        width: 49%;
       display: inline-block;

    }

    .chooseus__area-right-icon-list
    {
        margin-bottom: 1rem;
    }

    .footer__area .col-md-3 {
        width: 50%;
    }

    .hero__height {
        min-height: 360px !important;
    }
    .footer__copyright-wrapper p {
        font-size: 12px;
        font-weight: 600;
        padding: 0px 0px !important;
    }

    .footer__top .mb-35 {
        margin-bottom: 15px;
    }
    .hero__title {
        font-size: 30px;
        margin-bottom: 6px;
    }
    .hero__search-info
    {
        display:none;
    }
    .hero__search .w-200 {
        width: 100%;
        background: #0000007d;
        color: #ffffff;
        border-bottom: 3px solid #2196f361 !important;
        border: none;
        margin-bottom: 1rem;
    }

    .location_icon .fad
    {
        top: 1px;   
    }
    .join-from .w-btn-2
    {
        top: -15px;
        right: -4px;
    }
    .join-from
    {
        width: 100%;
    }
    .hero__search input {
        width: 100%;
        margin: 0px;
    }
    .hero__area .mt-70 {
        margin-top: 90px;
    }
    
    .mobile_btn
    {
        display: block;
    }
    .homelogo img
    {
        width: 80px;
    }

    /* .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        width: 93%;
    } */
    .subscribe_footer
    .join-from .w-btn-2 {
        top: 0px;
    }
        .header__padding .p-0
        {
            padding-right: var(--bs-gutter-x,.75rem) !important;
            padding-left: var(--bs-gutter-x,.75rem) !important;
        }

 .hero__banner {
    min-height: 200px;
    background-size: cover;
    background-position: right;
}
.hero__banner .mt-70 {
    margin-top: 30px;
}

.sd-body ul li .active {
    background: #000000;
    color: white;
    border-radius: 5px;
    border: none;
}

.about__area img {
    width: 100%;
}
.about__wrapper {
    margin-top: 24px;
}
.button_group a img
{
    max-width: 100%;
}
.download_section .row 
{
    flex-direction: column-reverse;
}
.download_section .img-section img {
    max-width: 100%;
}
.our-team .col-lg-3
{
   width: 50%;
   margin-bottom: 1rem;
}
.counter .col-lg-4
{
    width: 33%;
}
 .counter h2 {
    color: white;
    font-size: 18px;
}
.counter h5
{
    font-size: 15px;  
}
.team_list img {
    max-width: 120px;
    border-radius: 16px;
}

.counter .row
{
    align-items: center;
}
.package_card .col-lg-4 {
    width: 50%;
    padding: 6px 6px;
}
.card_package
{
    padding: 11px 11px;
}
.card_package img {
    max-width: 110px;
}


.card_package p {
    color: black;
    margin-bottom: 1.5rem;
    font-size: 15px;
    line-height: 19px;
    text-align: initial;
}

.card_book
{
    padding: 1rem 1rem;
}
.col-lg-9 {
    width: 100%;
}

.card_book .mt-80 {
    margin-top: 27px;
}

.card_book  .mb-30 {
    margin-bottom: 9px;
}

.userForm .btnpay
{
    margin-bottom: 10px;
}
.pad-12 .col-lg-4 {
    width: 95%;
    margin-bottom: 2rem;
}
.usercard
{
    width:100% ;
}

.pad-12 .mt-90 {
    margin-top: 54px;
}
.radio_hourse_style
{
    display: inline-block;
    
}

.radio_hours
{
    width: 50%;
}
.radio_hourse_style .btnblack
{
    margin-top: 1rem;
}
.radio_hours span
{
    width: 100%;
    justify-content: center;
}
.slick_card .slick-dots img
{
    width: 80%;
    margin-bottom: 1rem;
}
.react-tabs__tab {
    color: #808080c7;
    padding: 8px 13px 13px !important;
    font-size: 19px !important;
}
.reviewUser h3 {
    font-size: 18px;
}
.reviewUser .rating li i
{
    font-size: 13px; 
}
.reviewUser .rating
{
    margin-left: 2px;
}
.review-list .userImg {
    width: 100%;
}
.review-style
{
    max-height: 470px;
}
.d_text
{
  display: none;
}
.m_text
{
    display: block;
}
.update_profile h3
{
    margin-bottom: 25px;
}
.input_type select
{
    width: 30%;
}
.pr-50
{
    padding-right: 12px;   
}
.list_previous
{
    width: 100%;
}
.list_previous .previous
{
    padding: 10px 1rem 10px 1rem;
    display: block;
}
.rating_modal {
    display: block !important;
}
.rating_modal input
{
    margin-bottom: 1rem;
}
.react-responsive-modal-modal .previous_title
{
    padding: 0px;
}
.modal_haff textarea, .rating_modal input
{
    font-size: 16px;
    width: 100%;
}

.modal_haff textarea::placeholder, .rating_modal input::placeholder
{
    font-size: 16px;
}
.modal_haff
{
    width: 100%;
    padding: 0px;
}
.react-responsive-modal-modal
{
    margin: 0.2rem !important;
}



.list_previous .previous .w-btn-3
{
    padding: 0 11px;
}
.list_previous .previous .actbn
{
    padding: 0 28px;
}
.filter {
    width: 100%;
    display: block;
}
.filter .mr-20
{
margin-bottom: 20px;
}
.previous_title i
{
    font-size: 3rem;
    margin-top: -9px;
    display: block;
    margin-bottom: 1rem;
}
.previous_title
{
    display: inherit;
    align-items: center;
    padding: 0rem 0.8rem;
    font-weight: 600;
    margin-bottom: -2rem;
}
.usercard h5, .usercard h4 {
    font-size: 28px;
}
.m-none
{
    display: none !important;
}
.list-total
{
    margin-top: 0.1rem;
}
.total_list_payment ul
{
    margin-top: 2rem;
}
.sidebar.active {
    left: 0;
    background: #272626;
}
.blog_list_style {
    padding: 2rem 0rem;
    display: inline-flex;
    flex-flow: wrap;
}

.blog_list_style li
{
    width: 47%;
    margin: 0.3rem;
    padding: 0.8rem;
}

.blog_list_style li h5
{
    font-size: 16px;
    margin-bottom: 10px;
}
.blog_list_style li p {
    font-size: 15px;
    line-height: 17px;
}




}